div.game-container {
  flex: 1;
  width: 80%;
  max-width: 56rem;
  padding: 6rem 0;

  display: grid;
  place-items: center;

  & > .game-controls {
    width: 100%;

    & > .select-option {
      padding: 12.5%;

      display: grid;
      place-items: center;

      transition: opacity .2s ease;

      position: relative;

      & > div.option {
        position: absolute;

        &:nth-child(2) {
          bottom: 0;
          right: 14%;
        }
        &:nth-child(3) {
          right: 0;
          top: 28%;
        }
        &:nth-child(4) {
          top: 0;
        }
        &:nth-child(5) {
          bottom: 0;
          left: 14%;
        }
        &:nth-child(6) {
          left: 0;
          top: 28%;
        }
      }
      & > img.pentagon {
        width: 100%;
        margin: auto;

        z-index: -1;
        position: relative;
      }
    }
  }

  & > .game-checker {
    display: none;
  }
}
